.container {
  display: flex;
  justify-content: center;
}

.row {
  width: auto;
  display: flex;
}

.column-full {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

form {
  text-align: center;
  margin-top: 5rem;
  padding: 1rem;
  border-radius: 5px;
}

@media screen and (min-width: 750px) {
  .container.main {
    width: 600px;
    margin: auto;
  }

  .ul-nav {
    margin: 0.25rem;
  }
}
