* {
  font-family: "Noto Sans", sans-serif;
}

header {
  background-color: #ee1515;
}

body {
  background-color: #f0f0f0;
}

form {
  background-color: #222224;
  color: #f0f0f0;
}

.title-heading {
  padding-left: 20px;
  margin-left: 20px;
  color: white;
}

.link-nav {
  padding-left: 20px;
  margin-left: 20px;
  padding-top: 10px;
  color: white;
}

.button-search {
  cursor: pointer;
  background-color: #f0f0f0;
}

.hidden {
  display: none;
}

.nav-home {
  text-decoration: none;
  color: white;
}

ul {
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  justify-content: center;
}

.results-list,
.details-column {
  background-color: white;
}

.results-list:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.name {
  font-weight: bold;
  font-size: 2rem;
}

.details-list > li {
  padding-top: 5px;
  font-weight: bold;
}

.details-list {
  text-align: center;
  background-color: lightgray;
}

.image-shiny {
  width: 25%;
}
