* {
  font-family: "Noto Sans", sans-serif;
}

header {
  background-color: #ee1515;
}

body {
  background-color: #f0f0f0;
}

form {
  background-color: #222224;
  color: #f0f0f0;
}

.title-heading {
  padding-left: 20px;
  margin-left: 20px;
}

.nav-home,
.nav-favorite {
  text-decoration: none;
  color: white;
}

.add-favorite {
  text-decoration: none;
  background-color: #ee1515;
  color: #f0f0f0;
  padding: 5px 2px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.link-nav {
  padding-left: 20px;
  margin-left: 20px;
  padding-top: 10px;
}

.button-search {
  cursor: pointer;
  background-color: #f0f0f0;
}

.cancel-button {
  border: none;
}

.confirm-button {
  background-color: #ee1515;
  color: #f0f0f0;
  border-radius: 5px;
  border: none;
  padding: 3px 4px;
}

.delete-button {
  text-decoration: none;
  background-color: #ee1515;
  color: #f0f0f0;
  border-radius: 5px;
  padding: 2.5px 5px;
  margin: 0 10px 5px 0;
}

.cancel-button:hover,
.confirm-button:hover,
.delete-button:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

ul {
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  justify-content: center;
}

.results-list,
.favorite-poke {
  background-color: white;
}

.favorite-poke {
  padding-top: 1px;
}

.results-list:hover,
.favorite-poke:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.already-favorite {
  background-color: #222224;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.name {
  font-weight: bold;
  font-size: 1.5rem;
}

.details-list > li {
  padding-top: 5px;
  font-weight: bold;
}

.details-column {
  background-color: lightgray;
}

.details-list {
  text-align: center;
}

.details-img {
  background-color: #f0f0f0;
  margin-top: 10px;
}

.image-shiny {
  width: 25%;
}

img {
  width: 85%;
}

.column-third {
  width: calc(100% / 3.5);
  margin: 10px;
}

#favorites-list {
  display: flex;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.modal-background {
  background: rgb(0 0 0 / 75%);
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.delete-modal {
  margin: auto;
  width: 400px;
  height: 150px;
  background-color: #f0f0f0;
  border-radius: 6px;
  padding: 1rem;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.modal-toggle {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.search-again-details {
  font-size: 12px;
  padding-top: 3rem;
}
